<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MathExercisesGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MathExercisesGenerator.Properties.Settings>
            <setting name="MaxValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MinValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ExercisesCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinComplexity" serializeAs="String">
                <value>2.2</value>
            </setting>
            <setting name="MaxComplexity" serializeAs="String">
                <value>3.2</value>
            </setting>
            <setting name="AdditionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubtractionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiplicationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </MathExercisesGenerator.Properties.Settings>
    </userSettings>
</configuration>