<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MathExercisesGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MathExercisesGenerator.Properties.Settings>
            <setting name="MinValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Complexity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExercisesCount" serializeAs="String">
                <value>5</value>
            </setting>
        </MathExercisesGenerator.Properties.Settings>
    </applicationSettings>
</configuration>